.topnav {
    display: flex;
    width: 50%;
    max-width: 50%;
    justify-content: space-between;
}

.topnav span {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 2pxrem;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
}


body {
    background: #000000;
    background-image: url("./background.png");
    height: 100vh;
    width: 200vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.image-logo {
    position: absolute;
    width: 329px;
    height: 57px;
    left: 94px;
    top: 55px;
}

.title {
    position: fixed;
    width: 350px;
    height: 112px;
    left: 50%;
    top: 25rem;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
}

.subtitle {
    position: fixed;
    width: 30rem;
    height: 74px;
    left: 45%;
    top: 35rem;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #000000;
}

.input-label-email {
    position: fixed;
    width: 379px;
    height: 74px;
    left: 45%;
    top: 45rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    align-items: center;

    color: #000000;
}

.input-label-pass {
    position: fixed;
    width: 379px;
    height: 74px;
    left: 45%;
    top: 55rem;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #000000;
}

.input-email {
    position: fixed;
    width: 30%;
    max-width: 30%;
    height: 53px;
    top: 50rem;
    left: 40%;
    background: #7F7F7F;
    border-radius: 25px;
}

.input-pass {

    position: fixed;
    width: 30%;
    height: 53px;
    top: 60rem;
    left: 40%;

    background: #7F7F7F;
    border-radius: 25px;
}

@media only screen and (max-width: 840px) {
    .input-email {
        width: 100%;
        max-width: 100%;
        left: 0%;
    }

    .input-pass {
        left: 0%;
        width: 100%;
    }
}

.button-send {
    position: fixed;
    min-width: 10rem;
    height: 55px;
    left: 51%;
    top: 65rem;

    top: 601px;

    font-weight: 400;
    font-size: 33px;
    font-family: 'Times New Roman';
    font-style: normal;

    background: #EFEFEF;
    border: 1px solid #000000;
    border-radius: 5px;
}

.footer-text {
    position: fixed;
    min-width: 20rem;
    width: 34rem;
    max-width: 50%;
    height: 74px;
    left: 42%;
    top: 70rem;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #000000;
}

.button-enter {
    box-sizing: border-box;
    position: fixed;
    width: 30rem;
    height: 55px;
    left: 43%;
    top: 80rem;

    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    color: #000000;

}

@media only screen and (max-width: 840px) {

    .button-send,
    .button-enter {
        width: 100%;
        left: 0%;
    }

    .footer-text {
        max-width: 100%;
        left: 20%;
        text-align: center;
    }

    .subtitle {
        max-width: 100%;
        left: 15%;
    }

    body {
        background-size: cover;
    }
}