body {
    background: #000000;
}

.image-logo {
    position: absolute;
    width: 165px;
    height: 29px;
    left: 673px;
    top: 25px;

}

.menu {
    position: absolute;
    width: 169px;
    height: 74px;
    left: 700px;
    top: 54px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.sign {
    position: absolute;
    width: 169px;
    height: 74px;
    left: 690px;
    top: 97px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.title {
    position: absolute;
    width: 350px;
    height: 112px;
    left: 650px;
    top: 159px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.subtitle {
    position: absolute;
    width: 473px;
    height: 74px;
    left: 519px;
    top: 263px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.input-label-email {
    position: absolute;
    width: 379px;
    height: 74px;
    left: 473px;
    top: 345px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.input-label-pass {
    position: absolute;
    width: 379px;
    height: 74px;
    left: 473px;
    top: 479px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}



.input-email {
    position: relative;
    width: 50%;
    height: 53px;
    top: 24rem;
    left: 40%;
    background: #7F7F7F;
    border-radius: 25px;
}

.input-pass {

    position: relative;
    width: 50%;
    height: 53px;
    top: 30rem;
    left: 40%;

    background: #7F7F7F;
    border-radius: 25px;
}

@media only screen and (max-width: 700px) {
    .input-email {
        width: 100% ;
        left: 0rem ;
    }

    .input-pass{
        left: 0rem;
        width: 100%;
    }
}

.button-send {

    position: absolute;
    width: 214px;
    height: 55px;
    left: 649px;
    top: 650px;

    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    color: #000000;


}

.footer-text {
    position: absolute;
    width: 587px;
    height: 74px;
    left: 462px;
    top: 732px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.button-enter {
    box-sizing: border-box;

    position: absolute;
    width: 404.5px;
    height: 55px;
    left: 554px;
    top: 851px;

    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    color: #000000;

}